body {
    font-family: Arial;
    background-color: #f2f2f2;
}

.container {
    width: 400px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    margin-top: 10px;
    padding: 10px;
    background: #eee;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
